openapi: 3.0.0

info:
  title: Irma bot frontend API
  description: API
  version: '1.0.0'

servers:
  - url: https://irma-bot.tk/api/v1

paths:
  /healthcheck:
    get:
      summary: Healthcheck
      operationId: Healthcheck
      responses:
        200:
          $ref: '#/components/responses/HealthcheckResponse'

  /group/{id}:
    get:
      summary: Get group
      operationId: GetGroup
      parameters:
        - $ref: '#/components/parameters/GroupID'
      responses:
        200:
          $ref: '#/components/responses/GetGroupResponse'
        404:
          $ref: '#/components/responses/NotFoundErrorResponse'
        500:
          $ref: '#/components/responses/InternalErrorResponse'

components:
  schemas:
    Healthcheck:
      type: object

    Group:
      type: object
      required:
        - id
        - greeting
        - ban_question
        - ban_url
        - ban_timeout
        - questions
      properties:
        id:
          type: integer
          format: int64
        greeting:
          type: string
        ban_question:
          type: boolean
        ban_url:
          type: boolean
        ban_timeout:
          type: integer
          format: int32
        questions:
          $ref: '#/components/schemas/Questions'

    Questions:
      type: array
      items:
        $ref: '#/components/schemas/Question'

    Question:
      type: object
      required:
        - text
        - answers
      properties:
        text:
          type: string
        answers:
          $ref: '#/components/schemas/Answers'

    Answers:
      type: array
      items:
        $ref: '#/components/schemas/Answer'

    Answer:
      type: object
      required:
        - text
      properties:
        text:
          type: string
        correct:
          type: boolean

    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string

  responses:
    HealthcheckResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Healthcheck'

    GetGroupResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Group'

    NotFoundErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    InternalErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  parameters:
    GroupID:
      name: id
      in: path
      required: true
      schema:
        type: integer
        format: int64
